* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-texto: #101828;
    --cor-principal:#667085;
    --cor-destaque: #8E2424;
    --cor-fundo: #FFFFFF;
}


body {
    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo);
    font-size: 1rem;
}


.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
}


.container-menu {
    margin-right: 30%;
}


.item {
    text-decoration: none;
    color: var(--cor-principal);
    margin: 0 8px;
    font-size: 1rem;
}

.item:hover{
    text-decoration: underline;
    color: var(--cor-destaque);
}

.item-cadastrar {
    background-color: var(--cor-destaque);
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
}

.sessao-sobreNos {
    display: flex;
    justify-content: center;
}


.box-sobreNos {
    width: 50%;
    padding: 6rem 0;
    text-align: center;
}


.subTitulo-sobreNos {
    color: var(--cor-destaque);
}


.titulo-sobreNos {
    padding: 24px 0;
    font-size: 3rem;
    color: var(--cor-texto);
}


.sessao-metricas {
    display: flex;
    justify-content: center;
    
}


.item-metrica {
    width: 23%;
    padding: 0 1rem;
}


.titulo-metrica {
    color: var(--cor-destaque);
    font-size: 3.75rem;
}


.subTitulo-metrica {
    padding: 16px 0 10px 0;
    font-size: 0.80rem;
    color: var(--cor-texto);
}


.texto-metrica {
    color: var(--cor-principal);
    font-size: 0.75rem;
}


.sessao-vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.box-introVaga {
    text-align: center;
    padding: 10rem 0 0;
}


.textoInfo-introVaga {
    width: max-content;
    margin: 0 auto;
    padding: 0.30rem 0.90rem;
    color: var(--cor-destaque);
    background-color: #8e24240c;
    font-weight: 600;
    font-size: 0.97rem;
    border-radius: 50px;
}


.titulo-introVaga {
    padding: 1rem 0;
    color: var(--cor-texto);
    font-size: 2.25rem;
}


.texto-introVaga{
    padding: 0 0 3rem;
    color: var(--cor-principal);
}


.img-reuniaoVagas {
    width: 80%;
}


.box-departamento {
    width: 70%;
    margin: 0 auto; 
}


.titulo-departamento {
    font-size: 1.25rem;
    padding: 4rem 0 2rem;
    color: var(--cor-texto);
}

.titulo-vaga {
    color: var(--cor-texto);
}

.box-vaga {
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 1.5rem ;
    margin: 0 0 1.5rem;
}



.box-infoVaga p {
    display: inline-block;
    margin: 0 2rem 0 0;
    padding: 2.5rem 0 0;
    color: var(--cor-texto);
}


.sessao-comentarios {
    display: flex;
    justify-content: center;
}


.box-comentario {
    width: 80%;
    text-align: center;
    padding: 3.5rem;
    margin: 3.5rem 0;
    background-color: #8e24240c;
    
}


.span-comentario {
    color: var(--cor-destaque);
    font-weight: 600;
}


.texto-comentario {
    font-size: 2.25rem;
    font-weight: 600;
    padding: 2rem;
    color: var(--cor-texto);
}


.nome-comentarista {
    color: var(--cor-texto);
    font-weight: 600;
    padding: 1rem 0 0.4rem;
}

.profissao-comentarista {
    color: var(--cor-principal);
    font-size: 0.87rem;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #98a2b30e;
    padding: 5rem 0;
}


.box-footer {
    text-align: center;
}


.titulo-footer {
    color: var(--cor-texto);
    font-size: 2.25rem;
    margin: 0 0 1rem;
}


.span-footer {
    color: var(--cor-principal);
    font-size: 1.25rem;
}


.box-footerInput {
    padding: 2rem;
}


.input-footer {
    width: 55%;
    padding: 0.5rem;
    margin: 0 0.5rem;
}


.texto-direitosAutorais-footer {
    color: var(--cor-principal);
    font-size: 0.68rem;
}

@media (max-width: 941px) {
    .container-menu {
        margin-right: 0;
    }
}

@media (max-width: 659px){

    .container-header {
        flex-direction: column;
        gap: 1em
    }

    .container-acesso {
        margin: 1em 0 0 12em;
    }


    .sessao-metricas {
        flex-direction: column;
        align-items: center;
    }

    .item-metrica {
        width: 50%;
        margin: 2rem 0 2rem;
    }

    .texto-comentario {
        font-size: 1rem;
    } 
}
